/.idea/.gitignore
/.idea/daw1d_endes.iml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vagrant.xml
/.idea/vcs.xml
